<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>One on One</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
</head>

<body>
    <header>
        <div id="logo">
            <h1>One on One</h1>
        </div>
        <nav>
            <a href="">Home</a>
            <a href="/services">Services</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </header>

    <div id="description">
        <div id="paragraph">
            <div id="descriptionTitle">Find the right person next door.</div>
            This sites makes the connection between you and the person you need: From personal trainer, to masseur
            to,
            violin teacher. It's show's you the best options based on your location, prices and ratings. It even let
            you
            arrange an appointment in real time!.
        </div>
        <img src="/images/home.jpg" alt="People working together to solve problems">
    </div>

    <%- include('partials/footer') %>
        <script src="../scripts/seeds/array-names.js"></script>
</body>

</html>