<%layout('layouts/boilerplate')%>
   <% block('head').append('<title>Services</title>') %>
   <% block('head').append('<link rel="stylesheet" href="/styles/services.css">') %>

    <div id="imagesContainer">
        <img class="image" src="images/haircut.jpg" alt="haircut">
        <img class="image" src="images/fitness.jpg" alt="doctors">
        <img class="image" src="images/food.jpg" alt="food">
    </div>

    <div id="categoriesWrapper">

        <%categories.forEach(category=> { %>
            <a href="/services/<%=category.name %>">
                <div style="background-color: <%=category.backgroundColor%>">
                    <%=category.name%>
                </div>
            </a>
            <% }) %>
    </div>

  <script src="../scripts/services.js"></script>
