<%layout('layouts/boilerplate')%>
   <% block('head').append('<title>Sign In</title>') %>
   <% block('head').append('<link rel="stylesheet" href="../styles/signin.css">') %>

<div id="formContainer">
    <form action="/signin" id="form" method="POST">
        <h2>Sign in to your account </h2>

        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="Your Username ...">
            <span id="validationMsgUsername"></span>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Your password...">
            <span id="validationMsgPassword"></span>
        </div>

        <div class="button-container">
            <button type="button" id="submitButton">Continue</button>
        </div>

        <div class="a-container">
            <p>Don't have an acount? <a href="/signup">Sign Up</a></p>
        </div>
    </form>
</div>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="text-container">
            <p id="modalText"></p>
        </div>
    </div>
</div>
<script src="../scripts/signin.js"></script>
</body>

</html>