html {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}


#formContainer {
    width: 100%;
    height: auto;
    display: flex;
    background-image: url("../images/formbackground.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}
form {
    width: 500px;
    margin: 20px auto;
    background-color: white;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    border: 1px solid lightgray;
    border-radius:10px;
    box-sizing:border-box;
    padding: 3.0em;
}
#formContainer div{
    width: 100%;
    margin: 10px 0;
}
div label {
    display:block;
    font-size: 0.6em;
    font-weight:bold;
}
span {
    font-size: 0.6em;
}

#validationMsgEmail {
    color : red;
}

input[type=text], input[type=password] {
    width:90%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: 1px solid lightgray;
     border-radius: 10px;
     transition: box-shadow 0.5s;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    box-shadow: 1px 1px  10px 3px #bde0fe , -1px -1px 10px 3px #bde0fe;
}

.button-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    border: none;
    padding: 12px 20px;
    background-color:rgb(103, 159, 248);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.5s;
}
.button-container button:hover {
    background-color:#3a86ff;
    cursor : pointer;
}

.notAUser {
    color: red;
}

.a-container {
    font-size: 0.8em;
}

.a-container a{
    text-decoration: none;
    color: hsla(19, 97%, 51%, 0.445);
}


.modal {
    display: none;
    position:fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    cursor: pointer;
}
#modalParagraph {
    font-size: 20px;
}

@media(max-width:820px){
    nav {
        font-size: 0.8em;
    }
}
@media(max-width:570px){
    nav {
        font-size: 0.6em;
    }
}
