<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="#">One on One</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center">
                <a class="nav-link" href='/home'>Home</a>
                <a class="nav-link" href='/services'>Services</a>
                <a class="nav-link" href='/signup'>Signup</a>
            </div>
        </div>
    </div>
</nav>
<script src="../../scripts/navbar.js"></script>