html {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
header {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#logo {
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    color: black;
    letter-spacing: 0.5em;
    border-color: #bde0fe;
    border-top-style: solid;
    border-top-width: 0.5em;
    border-bottom-style:solid;
    border-bottom-width:0.5em;
    border-radius: 50%;
    padding:0.5em;
    width: 30%;     
}
nav {
    display:flex;
    justify-content:space-around;
    width: 50%;
    background-color:#bde0fe;
    border-radius: 10px;
    margin-top:40px;
}
nav a {
    font-weight: bold;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    letter-spacing: 6px;
}

#description {
    display: flex;
    text-align:left;
    justify-content:center;
}
#dtitle {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 40px;
}
#description img {
    max-width: 800px;
    max-height:500px;
}

@media (max-width: 1440px) {
    h1 {
        font-size:1.8em;
        width:35%;
    }
    #dtitle {
        font-size: 4em;
    }
    #description img {
        max-width: 750px;
        max-height:450px;
    }
}
@media (max-width: 1367px){
    #dtitle {
        font-size: 3.5em;
    }
    #description img {
        max-width: 700px;
        max-height:400px;
    }
}
@media(max-width:1115px){
    h1{
        font-size:1.5em;
        width:40%;
    }
    #paragraph{
        font-size: 0.8em;
    }
    #dtitle {
        font-size: 3.0em;
    }
    #description img {
        max-width: 650px;
        max-height:350px;
    }
}
@media(max-width:820px){
    h1 {
        font-size: 1.3em;
        width:50%;
    }
    nav {
        width: 70%;
        font-size: 0.8em;
    }
 
#description {
    flex-wrap:wrap-reverse;
}

}
@media(max-width:570px){
    h1{
        font-size: 1.3em;
        width:28%;
    }
    nav {
        font-size: 0.6em;
    }
}
